body{background-image: url(https://a.cdn-hotels.com/gdcs/production0/d904/1a2db549-b49d-4845-aa19-c9d72f4266c2.jpg);}
div{ text-align: center; }
.divclass{}
#thirdDiv{width: 500px; height: 600px; background-color: coral; padding: 50px; border: 5px dotted green; margin: 0 auto}
h1{color: blueviolet;}
img{width: 400px;}
#spanId{font-size: 18px;margin: 50px;}